[submodule "nanos6"]
	path = nanos6
	url = https://github.com/bsc-pm/nanos6.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/bsc-pm/llvm.git
[submodule "ovni"]
	path = ovni
	url = https://github.com/bsc-pm/ovni.git
[submodule "nos-v"]
	path = nos-v
	url = https://github.com/bsc-pm/nos-v.git
[submodule "nodes"]
	path = nodes
	url = https://github.com/bsc-pm/nodes.git
