[submodule "nanos6"]
	path = nanos6
	url = https://github.com/bsc-pm/nanos6.git
[submodule "mcxx"]
	path = mcxx
	url = https://github.com/bsc-pm/mcxx.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/bsc-pm/llvm.git
[submodule "nanos6-cluster"]
	path = nanos6-cluster
	url = https://github.com/bsc-pm/nanos6-cluster.git
